<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/register.css">
    
</head>
<body>
    <article>
        The best project management teams ship early and often.
        ProyeCto app is built for every member of your team to plan,track, and managed great project.
    </article>
    <h5> Register Here ...</h5>
    <form action="/register" method="POST">
        <div class="username">
            <label for="name">Username</label>
            <input type="text" id="name" name="username"
            required>
        </div>
        
        <div class="email">
            <label for="email">Email</label>
            <input type="email" id="email" name="email"
            required>   
        </div>
        
        <div class="password">
            <label for="password">Password</label>
             <input type="password" id="password" name="password"
            required>
        </div>
        
        <button type="submit">Register</button>
    </form>
<a href="/">Back</a>
    
</body>
</html>

 -->
