<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/signin.css">
    <title>Document</title>

    

    </style>
    
</head>
<body>
    <h1> ProyeCto</h1>
    <p>Sign in Here...</p>
    <form action="/login" method="POST">
        <div class="overall">
            <div class="email">
                <label for="email">E-mail</label>
                <input type="email" placeholder="E-mail" id="email" name="email"
                 required>
            </div>
            <div class="password">
                <label for="password">Password</label>
                <input type="password" placeholder="Password" id="password" name="password"
                required>
            </div>
            
            <button type="submit">Login</button>
            <a href="/register">Register</a>
        </div>
        

    </form>


</body>
</html>


